<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Kirsten Anders</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <div id="personalia">
                <h1>{{h1text}}</h1>
                <h5>{{personalData.firstName}} {{personalData.lastName}}<br />{{ personalData.title }}</h5>
                <p>{{personalData.phone}}<br />{{personalData.mobile}}<br /><a :href="mailto">{{personalData.email}}</a>
                </p>
                <p>{{personalData.address.street}}<br />{{personalData.address.zipcode}} {{personalData.address.city}}
                </p>
                <p>Geboren am: {{personalData.dateOfBirth}}</p>
                <p>Staatsangehörigkeit: {{personalData.nationality}}</p>
            </div>
            <div id="photo">
                <img :src="personalData.photoSrc"
                    :alt="personalData.firstName + ' ' + personalData.lastName + ', ' + personalData.title"
                    :title="personalData.firstName + ' ' + personalData.lastName + ', ' + personalData.title"><br />
                <svg width="24" height="18" xmlns="http://www.w3.org/2000/svg"
                    @click="showMobileMenu = !showMobileMenu">
                    <path d="M24 16v2H0v-2h24zm0-8v2H0V8h24zm0-8v2H0V0h24z" fill="#009" fill-rule="evenodd" />
                </svg>
            </div>
        </header>
        <nav id="navigation">
            <ul>
                <li v-for="navItem in navItems" :key="navItem.id"><a :href="'#' + navItem.anchorID">{{navItem.name}}</a>
                </li>
            </ul>
        </nav>
        <nav id="mobile-menu" v-if="showMobileMenu">
            <ul>
                <li v-for="navItem in navItems" :key="navItem.id"><a :href="'#' + navItem.anchorID"
                        @click="showMobileMenu=false">{{navItem.name}}</a>
                </li>
            </ul>
        </nav>
        <main>
            <h2 id="positions">{{h2positions}} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <h3 id="dependentJobs">{{h3jobs}} <a class="backlink" href="#personalia">&gt;&gt;</a></h3>
            <div class="job-container" :class="{'first':job.id===1}" v-for="job in dependentJobs" :key="job.id">
                <div class="duration-column">
                    <p>{{job.duration}}</p>
                </div>
                <div class="job-column">
                    <p style="padding-top: 0.5rem;"><strong>{{job.position}}</strong> bei
                        <strong v-if="job.certificate"><a class="cert-link" :href="job.certificate"
                                :title="job.position + '@' + job.company" target="_blank">{{job.company}}</a></strong>
                        <strong v-else>{{job.company}}</strong>
                        <br />{{job.address}}
                    </p>
                    <ul class="task-list">
                        <li v-for="task in job.tasks" :key="task">{{task}}</li>
                    </ul>
                </div>
            </div>
            <h3 id="freeJobs">{{h3free}} <a class="backlink" href="#personalia">&gt;&gt;</a></h3>
            <div class="job-container" :class="{'first':job.id===1}" v-for="job in freeJobs" :key="job.id">
                <div class="duration-column">
                    <p>{{job.duration}}</p>
                </div>
                <div class="job-column">
                    <p style="padding-top: 0.5rem;">
                        {{job.position}}
                        <span v-if="job.company !== ''"><br />
                            <strong v-if="job.certificate"><a :href="job.certificate"
                                    :title="job.position + '@' + job.company" target="_blank"
                                    class="cert-link">{{job.company}}</a></strong>
                            <strong v-else>{{job.company}}</strong>
                        </span>
                    </p>
                    <ul class="task-list" v-if="job.tasks.length !== 0">
                        <li v-for="task in job.tasks" :key="task">{{task}}</li>
                    </ul>
                </div>
            </div>
            <h3 id="practica">{{h3practica}} <a class="backlink" href="#personalia">&gt;&gt;</a></h3>
            <div class="job-container" :class="{'first':praktikum.id===1}" v-for="praktikum in praktika"
                :key="praktikum.id">
                <div class="duration-column">
                    <p>{{ praktikum.duration }}</p>
                </div>
                <div class="job-column">
                    <p style="padding-top: 0.5rem;">{{ praktikum.title }},</p>
                    <p>
                        <strong v-if="praktikum.certificate"><a :href="praktikum.certificate"
                                :title="praktikum.title + '@' + praktikum.company" target="_blank"
                                class="cert-link">{{praktikum.company}}</a></strong>
                        <strong v-else>{{ praktikum.company }}</strong>,
                        {{ praktikum.address }}
                    </p>
                    <ul class="task-list">
                        <li v-for="task in praktikum.tasks" :key="task">{{ task }}</li>
                    </ul>
                </div>
            </div>
            <h2 id="education">{{ h2education }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <h3 id="apprenticeship">{{ h3apprenticeship }} <a class="backlink" href="#personalia">&gt;&gt;</a></h3>
            <div class="job-container" :class="{'first':apprenticeship.id===1}"
                v-for="apprenticeship in apprenticeships" :key="apprenticeship.id">
                <div class="duration-column">
                    <p>{{ apprenticeship.duration }}</p>
                </div>
                <div class="job-column">
                    <h5 v-if="apprenticeship.certificate"><a :href="apprenticeship.certificate"
                            :alt="apprenticeship.title" :title="apprenticeship.title" target="_blank"
                            class="cert-link">{{ apprenticeship.title }}</a></h5>
                    <h5 v-else">{{ apprenticeship.title }}</h5>
                    <p><strong>{{ apprenticeship.company }}</strong>, {{ apprenticeship.address }}</p>
                    <cite v-if="apprenticeship.finalNote !== 0 && apprenticeship.finalNote !== ''">Abschluss-Note: {{
                        apprenticeship.finalNote }}</cite>
                </div>
            </div>
            <h3 id="studies">{{ h3study }} <a class="backlink" href="#personalia">&gt;&gt;</a></h3>
            <div class="job-container" :class="{'first':study.id===1}" v-for="study in studies" :key="study.id">
                <div class="duration-column">
                    <p>{{ study.duration }}</p>
                </div>
                <div class="job-column">
                    <h5 v-if="study.certificate"><a :href="study.certificate" :alt="study.title + '@' + study.institute"
                            :title="study.title + '@' + study.institute" target="_blank" class="cert-link">{{
                            study.title }}</a></h5>
                    <h5 v-else>{{ study.title }}</h5>
                    <p><strong>{{ study.institute }}</strong></p>
                    <ul class="task-list" v-if="study.skills !== []">
                        <li v-for="skill in study.skills" :key="skill">{{ skill }}</li>
                    </ul>
                    <cite v-if="study.finalNote !== '' && study.finalNote !== 0">Abschluss-Note: {{ study.finalNote
                        }}</cite>
                </div>
            </div>
            <h2 id="schools">{{ h2school }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <div class="job-container" :class="{'first':school.id===1}" v-for="school in schools" :key="school.id">
                <div class="duration-column">
                    <p>{{ school.duration }}</p>
                </div>
                <div class="job-column">
                    <h5 v-if="school.title !== ''">{{ school.title }}</h5>
                    <p><strong>{{ school.school }}</strong></p>
                    <cite v-if="school.finalNote !== 0 && school.finalNote !== ''">Abschluss-Note: {{ school.finalNote
                        }}</cite>
                </div>
            </div>
            <h2 id="languages">{{ h2lang }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <p>Nach dem gemeinsamen europäischen Referenzrahmen für Sprachen (GER)</p>
            <div class="job-container" v-for="language in languages" :key="language.id">
                <div class="duration-column">
                    <p><strong>{{ language.language }}</strong></p>
                </div>
                <div class="job-column">
                    <h5 v-if="language.certificate"><a :href="language.certificate"
                            :alt="language.language + ': ' + language.ger"
                            :title="language.language + ': ' + language.ger" target="_blank" class="cert-link">{{
                            language.ger }}</a></h5>
                    <h5 v-else>{{ language.ger }}</h5>
                    <ul class="task-list">
                        <li v-for="item in language.description" :key="item">{{ item }}</li>
                    </ul>
                </div>
            </div>
            <h2 id="skills">{{ h2skills }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <div class="job-container" v-for="skill in skills" :key="skill.id"
                :class="[{'first':skill.id===1},{'centered':skill.id===2}]">
                <div class="duration-column">
                    <p><strong>{{ skill.name }}</strong></p>
                </div>
                <div class="job-column">
                    <p>{{ skill.description }}</p>
                    <a :href="skill.link" target="_blank" v-if="skill.link!==''">{{ skill.link }}</a>
                </div>
            </div>
            <h2 id="profiles">{{ h2profiles }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <div class="job-container centered" v-for="profile in profiles" :key="profile.id"
                :class="{'first':profile.id===1}">
                <div class="duration-column">
                    <p><strong>{{ profile.name }}</strong></p>
                </div>
                <div class="job-column">
                    <p><strong><a :href="profile.link" target="_blank">{{ profile.link }}</a></strong></p>
                </div>
            </div>
            <h2 id="projects">{{ h2projects }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <div class="job-container" v-for="project in projects" :key="project.id" :class="{'first':project.id===1}">
                <div class="duration-column">
                    <img :src="project.imgSource" :alt="project.name" :title="project.name">
                </div>
                <div class="job-column">
                    <h5 style="margin-block:.75rem;"
                        :class="[{'capp-color':project.id===1}, {'sgev-color':project.id===2}]">{{project.name}}</h5>
                    <p>{{ project.description }}</p>
                    <a :href="project.link" target="_blank"
                        :class="[{'capp-color':project.id===1}, {'sgev-color':project.id===2}]">{{ project.link }}</a>
                </div>
            </div>
            <h2 id="hobbies">{{ h2hobbies }} <a class="backlink" href="#personalia">&gt;&gt;</a></h2>
            <div class="job-container" v-for="hobby in hobbies" :key="hobby.id" :class="{'first':hobby.id===1}">
                <div class="duration-column">
                    <p>{{ hobby.duration }}</p>
                </div>
                <div class="job-column">
                    <h5>{{ hobby.name }}</h5>
                    <p><strong>{{ hobby.description }}</strong></p>
                </div>
            </div>

        </main>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>