<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Kirsten Anders</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <div id="personalia">
                <h1>{{h1text}}</h1>
                <h5>{{personalData.firstName}} {{personalData.lastName}}<br />{{ personalData.title }}</h5>
                <p>{{personalData.phone}}<br />{{personalData.mobile}}<br />{{personalData.email}}</p>
                <p>{{personalData.address.street}}<br />{{personalData.address.zipcode}} {{personalData.address.city}}
                </p>
                <p>Geboren am: {{personalData.dateOfBirth}}</p>
                <p>Staatsangehörigkeit: {{personalData.nationality}}</p>
            </div>
            <div id="photo"><img :src="personalData.photoSrc"
                    :alt="personalData.firstName + ' ' + personalData.lastName + ', ' + personalData.title"
                    :title="personalData.firstName + ' ' + personalData.lastName + ', ' + personalData.title"></div>
        </header>
        <main>
            <h2>{{h2positions}}</h2>
            <h3>{{h3jobs}}</h3>
            <div class="job-container" v-for="job in dependentJobs" :key="job.id">
                <div class="duration-column">
                    <p>{{job.duration}}</p>
                </div>
                <div class="job-column">
                    <p><strong>{{job.position}}</strong> bei <strong>{{job.company}}</strong><br />{{job.address}}</p>
                    <ul class="task-list">
                        <li v-for="task in job.tasks" :key="task">{{task}}</li>
                    </ul>
                </div>
            </div>
            <h3>{{h3free}}</h3>
            <div class="job-container" v-for="job in freeJobs" :key="job.id">
                <div class="duration-column">
                    <p>{{job.duration}}</p>
                </div>
                <div class="job-column">
                    <p>
                        {{job.position}}
                        <span v-if="job.company !== ''"><br /><strong>{{job.company}}</strong></span>
                    </p>
                    <ul class="task-list" v-if="job.tasks.length !== 0">
                        <li v-for="task in job.tasks" :key="task">{{task}}</li>
                    </ul>
                </div>
            </div>
            <h3>{{h3practica}}</h3>
            <div class="job-container" v-for="praktikum in praktika" :key="praktikum.id">
                <div class="duration-column">
                    <p>{{ praktikum.duration }}</p>
                </div>
                <div class="job-column">
                    <p>{{ praktikum.title }},</p>
                    <p><strong>{{ praktikum.company }}</strong>, {{ praktikum.address }}</p>
                    <ul class="task-list">
                        <li v-for="task in praktikum.tasks" :key="task">{{ task }}</li>
                    </ul>
                </div>
            </div>
            <h3>{{ h3apprenticeship }}</h3>
            <div class="job-container" v-for="apprenticeship in apprenticeships" :key="apprenticeship.id">
                <div class="duration-column">
                    <p>{{ apprenticeship.duration }}</p>
                </div>
                <div class="job-column">
                    <h5>{{ apprenticeship.title }}</h5>
                    <p><strong>{{ apprenticeship.company }}</strong>, {{ apprenticeship.address }}</p>
                    <p v-if="apprenticeship.finalNote !== 0 && apprenticeship.finalNote !== ''">Abschluss-Note: {{
                        apprenticeship.finalNote }}</p>
                </div>
            </div>
        </main>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>