*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  max-width: 297mm;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  margin-inline: auto;
  margin-block: 0;
  padding-inline: 1.5rem;
  padding-block: 0;
}

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1rem;
  background: linear-gradient(rgba(0, 0, 51, 0.1), rgba(0, 0, 0, 0.05));
}

header h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

header h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

header img {
  border: 5px solid white;
  outline: 1px solid lightgrey;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    background: linear-gradient(
      70deg,
      rgba(0, 0, 51, 0.1) 55%,
      white 55% 56.5%,
      rgba(0, 0, 0, 0.05) 56.5%
    );
  }
}

@media screen and (min-width: 992px) {
  header {
    background: linear-gradient(
      65deg,
      rgba(0, 0, 51, 0.1) 60%,
      white 60% 61.5%,
      rgba(0, 0, 0, 0.05) 61.5%
    );
  }
}
